.main-info-container {
  background-color: rgb(8, 8, 101);
  width: 400px;
  height: 70vh;
  border-radius: 20px;

  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #ede2e266;
  display: flex;
  flex-direction: column;
}

.upper-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
}

.upper-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 2, 88, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: rgba(244, 236, 236, 0.888);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: rgba(244, 236, 236, 0.888);
  text-align: center;
  font-size: 4em;
  font-weight: 900;
}

.lower-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.more-info-label {
  display: flex;
  justify-content: center;
  width: 100%;
}

.more-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
padding: 10px;
  width: 100%;
}

.info-block {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 45%;
  margin: 15px 8px 5px 10px;
  background-color: #1b84d366;
  padding: 2px;
 
}



.info-block-label {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  justify-items: center;
  align-items: center;
}

.info-block-value {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

.info-block-label img {
  /* position: abosulte; */
  width: 40%;
}
.info-block-label span {
  /* position: absolute; */
  text-align: center;
  size: 0.8em;
}

.search-container{
  position:relative;
}

/* .lower-container{
    
} */
